// pallete
$dark-purple  : #512DA8;
$purple       : #673AB7;
$light-purple : #D1C4E9;
$pale         : #FFFFFF;
$blue         : #00BCD4;
$dark         : #212121;
$grey         : #757575;
$light-grey   : #BDBDBD;


// $pink           :#A63AB6
// $rose           :#B63A88
// $brick          :#B63A4A
// $orange         :#B6673A
// $yellow-green   :#B6A63A
// $lime           :#88B63A
// $pastel-green   :#4AB63A
// $green          :#3AB667
// $green-blue     :#3AB6A6
// $sea-green      :#3A88B6
// $dark-blue      :#3A4AB6
// $light-purple-2 :#8860CD
// $light-purple-3 :#AB8FDC
// $light-green-1  :#A5CD60
// $light-green-2  :#BFDC8F
