.todo {
  display: flex;
  cursor: pointer;
  align-items: center;
  padding: 1rem;
  transition: background .3s ease;

  p, input {
    margin: 0
  }

  > :first-child {
    margin-right: 1rem;
  }

  &:hover {
    background: $purple;
  }

}


.todo__subtext{
  color: $light-purple-3;
  // font-size: -10%;
}

.todo-completed {
  color: $grey;

  .todo__subtext{
    color: $grey;
  }

  .todo-item{
    text-decoration: line-through;
  }

}
